/* ====== BASE ====== */

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ====== LIGHT & DARK MODES ====== */

.light-mode {
    background-color: pink;
}

.dark-mode {
    background-color: black;
    color: pink;
}

/* ====== STYLES ====== */

.heading-1 {
    font-size: 72px;
    text-align: center;
}

button {
    font-weight: bold;
    font-size: 24px;
    padding: 0px 20px;
    border: 1px solid transparent;
    border-radius: 100px;
}

/* ====== BUTTON MODES ====== */

.on {
    color: gray;
    background-color: white;
}

.off {
    color: white;
    background-color: gray;
}